parameters:
    level: 5
    paths:
        - app
        - config
        - routes
        - public
        - database
    excludePaths:
        - vendor
        - storage
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
